<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contactlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/contact_image_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/contact_image_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactList">
        <activity android:name=".activities.ContactListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>